<!DOCTYPE html>
<html >
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300' rel='stylesheet' type='text/css'>
  <title>Framework Test Page</title>
</head>

<body>
  <div class="container">

    <div class="row">
      <div class="col-md-6">
        <img id="title-logo" class"img-responsive " src="/images/photo.png" alt="udacity logo">
      </div>
      <div class="col-md-6 text-right text-uppercase">
           <h1 class="lead title-super text-thin">andres kwan</h1>
           <h4>ninja developer</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
         <img class="img-responsive" src="http://placekitten.com/1140/350" alt="main image">
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2 class="text-mutted">Featured Work</h2>
      </div>
    </div>
  
    <div class="row text-center">
      <div class="col-md-4">
        <img class="img-responsive" 
             data-toggle="modal" 
             data-target="#project1" 
             src="http://placekitten.com/550/300" alt="main image">
        <h3 class="text-uppercase">Applify</h3>
        <p>Link to github</p>
      </div>
      <div class="col-md-4">
        <img class="img-responsive" src="http://placekitten.com/550/300" alt="main image">
        <h3 class="text-uppercase">Applify</h3>
        <p>Link to github</p>
      </div>
      <div class="col-md-4">
        <img class="img-responsive" src="http://placekitten.com/550/300" alt="main image">
        <h3 class="text-uppercase">Applify</h3>
        <p>Link to github</p>
      </div>
    </div>

    <!-- Modal -->
      <div class="modal fade" id="project1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Favorite App Page</h4>
            </div>
            <div class="modal-body">
              <img class="img-responsive" src="http://placekitten.com/550/300">
              This was my first project in this class. I learned a lot about HTML and CSS.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>



  
  <!-- <script src="/bower_components/jquery/dist/jquery.js"></script> -->
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <footer>
        <div class='container'>
          <div class='row'>
            <div class="text-center col-md-3 col-sm-4 col-xs-12">
              <h3>Who We Are</h3>
              <p><i>Blasting Off With Bootstrap</i> is the fastest way to space. <a href='tickets.html'>Book your ticket today</a>!</p>
              <p><a href='about.html'>More About Us <i class="glyphicon glyphicon-arrow-right"></i></a></p>
            </div>
            <div class="col-xs-12 visible-xs clearfix"><hr></div>
            <div class="text-center col-md-3 col-sm-2 col-xs-6">
              <h3>Links</h3>
                <ul class="list-unstyled">
                  <li><a href='/'>Home</a></li>
                  <li><a href='tickets.html'>Tickets</a></li>
                  <li><a href='stations.html'>Stations</a></li>
                </ul>
            </div>
                      
            <div class="text-center col-md-3 col-sm-2 col-xs-6">
              <h3>Stay in Touch</h3>
                <ul class="list-unstyled">
                  <li><a href='about.html'>About</a></li>
                  <li><a href='contact.html'>Contact Us</a></li>
                  <li><a href='/blog'>Blog</a></li>
                  <li><a href='http://twitter.com/codeschool'>Twitter</a></li>
                  <li><a href='http://facebook.com/codeschool'>Facebook</a></li>
                </ul>
            </div>
            <div class="col-xs-12 visible-xs clearfix"><hr></div>
            <div class="text-center col-md-3 col-sm-4 col-xs-12">
              <h3>Contact Us</h3>
                <ul class="list-unstyled">
                  <li>Orlando, FL</li>
                  <li>1-555-blast-off</li>
                  <li><a href='mailto:blastingoff@codeschool.com'>blastingoff@codeschool.com</a></li>
                </ul>
                <p>Blasting Off With Bootstrap &copy;2214.</p>
            </div>
          </div>
        </div>
    </footer>
  </div>  
</body>
</html>






